<mat-toolbar color="primary">
    <span>JwtBearerSample</span>
    <button mat-button [routerLink]="['/home']">Home</button>
    <button mat-button [routerLink]="['/fetch-data']">Fetch data</button>
    <span class="spacer"></span>
    <button *ngIf="!_loggedIn" mat-button [routerLink]="['/login']">LogIn</button>
    <button *ngIf="!_loggedIn" mat-button (click)="remoteLogin()">Remote LogIn</button>
    <button *ngIf="_loggedIn" mat-button (click)="logout()">LogOut</button>
    <button *ngIf="_loggedIn" mat-button (click)="remoteLogout()">Remote LogOut</button>
</mat-toolbar>